<div class = "book">
	<%= content_tag :sapn , "#{@book.name}" , ("#{@book.author}"), class: "book-title " %>
	<%= link_to 'Edit', edit_book_path(@book) %>
	


</div>

<div id = "notes">

<%= render @book.notes %>


</div>
<div>

<%= form_for([@book, @book.notes.new]) do |f| %>
<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>

  <div class="actions">
    <%= form.submit "Add new note" %>
  </div>
  <% end %>
</div>






<%= link_to 'Back', books_path %>
